<!DOCTYPE html>
<html class="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Disconf - 分布式配置管理平台</title>
  <script src="plugins/loaders/index.js"></script>
  <style>
    .left-side-bar {
      margin-top: 10px;
    }

    .left-side-bar ul {

    }

    .left-side-bar ul > li > a {
      list-style-type: none;
      color: #606266;
      /* text-align: center; */
      padding-left: 40px;
      line-height: 28px;
      cursor: pointer;
    }

    .left-side-bar ul > li > a:hover {
      color: #409eff;
    }

    .main-container {
      border: 1px #DCDFE6 solid;
      padding-left: 10px;
      padding-top: 10px;
    }

    .row-data-link {
      color: #409eff;
    }

    #footer {
      width: 100%;
      height: 160px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    #footer div {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    #footer .svg-github-icon {
      opacity: 0.8;
      cursor: pointer;
    }

    #footer .svg-github-icon:hover {
      opacity: 1;
      cursor: pointer;
    }
  </style>
</head>

<body>
<div id="disconfApplication">
  <el-container>
    <el-header>
      <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b"
      >
        <el-submenu index="1">
          <template slot="title">应用中心</template>
          <el-menu-item index="1-1"><a :href="htmlPath.appPageList">我的应用</a></el-menu-item>
          <el-menu-item index="1-2">
            <a :href="htmlPath.app">创建应用</a>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="2">
          <template slot="title">账户中心</template>
          <el-menu-item index="2-1"><a :href="htmlPath.appUser">开通账户</a></el-menu-item>
          <el-submenu index="2-2">
            <template slot="title">权限设置</template>
            <el-menu-item index="2-2-1"><a :href="htmlPath.appRole">角色管理</a></el-menu-item>
            <el-menu-item index="2-2-2"><a :href="htmlPath.appPermission">权限管理</a></el-menu-item>
          </el-submenu>
          <el-menu-item index="2-3">
            <a :href="htmlPath.appDepartment">部门管理</a>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="3">
          <template slot="title">基础设置</template>
          <el-menu-item index="3-1">基础环境</el-menu-item>
        </el-submenu>
        <el-submenu index="4">
          <template slot="title">个人中心</template>
          <el-menu-item index="4-1"><a :href="htmlPath.passwordV2">修改密码</a></el-menu-item>
          <el-menu-item index="4-2"><a href="#" id="signout">退出</a></el-menu-item>
        </el-submenu>
      </el-menu>
    </el-header>
    <el-container>
      <el-aside width="200px">

        <el-row>
          <el-col :span="24">
            <div class="left-side-bar">
              <el-scrollbar class="page-component__scroll">
              <span
                style="color: rgb(48, 49, 51);font-size: 16px;padding-left: 20px;line-height: 32px;font-weight: bold;">我的应用</span>
                <div class="side-nav">
                  <ul>
                    <template v-for="(app,index) in userAppList">
                      <li :index="appMenuItemIndex(1,app.id)" @click="handleAppMenuItemClick(app,index)">
                        <a>{{app.name}}</a>
                      </li>
                    </template>
                  </ul>
                </div>
              </el-scrollbar>
            </div>
          </el-col>
        </el-row>
        <!--<div class="dropdown" style="margin-top:20px;width:100%">-->
        <!--<button class="btn btn-default dropdown-toggle" type="button" id="appDropdownMenu" data-toggle="dropdown"-->
        <!--style="width:100%;">-->
        <!--<span id="appDropdownMenuTitle">Apps</span>-->
        <!--<span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" id="applist" role="menu" aria-labelledby="appDropdownMenu"></ul>-->
        <!--</div>-->

        <!--envroment list-->
        <!--<ul id="envChoice" class="nav nav-pills nav-stacked" style="margin-top:20px;">-->
        <!--</ul>-->
      </el-aside>
      <el-main>
        <div class="main-container">
          <el-row>
            <el-col :span="16">
              <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>应用中心</el-breadcrumb-item>
                <el-breadcrumb-item>我的应用</el-breadcrumb-item>
                <el-breadcrumb-item>{{currentAppName}}</el-breadcrumb-item>
              </el-breadcrumb>
            </el-col>
            <el-col :span="8">

            </el-col>
          </el-row>

          <el-row style="    margin-left: -11px;    margin-top: 10px;">
            <el-col :span="24">
              <el-tabs v-model="activeName" @tab-click="handleTabClick" type="card">
                <template v-for="env in userEnvList">
                  <el-tab-pane :label="env.envName" :name="appEnvItemName(env)">
                    <el-row style="    margin-right: 15px;">
                      <el-col :span="24">
                        <el-button type="primary" style="float: right;" @click="createVersionForEnv(env)">创建新版本
                        </el-button>
                      </el-col>
                    </el-row>
                    <template
                      v-for="(version,index) in currentAppVersionInfo">
                      <el-card class="box-card" style="width: 96%;margin: 6px auto;">
                        <div slot="header" class="clearfix">
                          <span>{{version.version.versionName | versionFormat}}</span>
                          <a
                            class="el-button el-button--primary el-button--small"
                            :href="downLoadUrl(currentAppId,env.id,version.version.versionName)"
                            style="float: right;margin-left: 10px;">批量下载</a>
                          <el-button type="primary"
                                     @click="zkDeployData(currentAppId,env.id,version.version.versionName)"
                                     size="small" style="float: right;">ZK部署情况
                          </el-button>
                          <el-button type="primary" @click="addConf(currentAppId,env.id,version.version.versionName)"
                                     size="small" style="float: right;">新建配置
                          </el-button>
                        </div>
                        <el-table
                          :data="version.versionConf"
                          border
                          style="width: 100%">
                          <el-table-column
                            prop="confIndex"
                            label="序号"
                            width="60">
                          </el-table-column>
                          <el-table-column
                            prop="appId"
                            label="AppID"
                            width="80">
                          </el-table-column>
                          <el-table-column
                            prop="key"
                            label="Key"
                            width="220"
                          >
                          </el-table-column>
                          <el-table-column
                            label="配置内容">
                            <template slot-scope="scope">
                              <a href="#" class="row-data-link" @click="showConfContent(scope.row)">配置内容</a>
                            </template>
                          </el-table-column>
                          <el-table-column
                            label="下载">
                            <template slot-scope="scope">
                              <a :href="scope.row.configId | downloadFormat" class="row-data-link">下载</a>
                            </template>
                          </el-table-column>
                          <el-table-column
                            label="实例列表">
                            <template slot-scope="scope">
                              <a href="#" class="row-data-link">{{scope.row.machineSize}}台 OK</a>
                            </template>
                          </el-table-column>
                          <el-table-column
                            prop="modifyTime"
                            width="220"
                            label="修改时间">
                          </el-table-column>
                          <el-table-column
                            label="操作"
                            width="180"
                          >
                            <template slot-scope="scope">
                              <el-button
                                size="mini"
                                icon="el-icon-edit"
                                type="primary"
                                @click="handleEdit(scope.$index, scope.row,version.version.versionName)">
                              </el-button>
                              <el-button
                                size="mini"
                                icon="el-icon-delete"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row,version.version)">
                              </el-button>
                              <!--<el-button-->
                              <!--size="mini"-->
                              <!--type="success"-->
                              <!--icon="el-icon-download"-->
                              <!--@click="handleDownload(scope.$index, scope.row,version.version)">-->
                              <!--</el-button>-->
                            </template>
                          </el-table-column>
                        </el-table>
                      </el-card>
                    </template>
                  </el-tab-pane>

                </template>
                <el-tab-pane name="env_0_plus">
                  <span slot="label"><i class="el-icon-plus"></i></span>
                </el-tab-pane>
              </el-tabs>
              <el-dialog :title="confContentDialog.confContentTitle"
                         :visible.sync="confContentDialog.confContentVisible">
                <span>
                   {{confContentDialog.confContent}}
                </span>
                <div slot="footer" class="dialog-footer">
                  <el-button @click="confContentDialog.confContentVisible = false">取 消</el-button>
                  <el-button type="primary" @click="confContentDialog.confContentVisible = false">确 定</el-button>
                </div>
              </el-dialog>
              <div class="row-fluid">
                <div class="contentWrap clearfix">
                  <ul id="versionChoice" class="nav nav-tabs" role="tablist"></ul>
                </div>
              </div>

              <div id="zk_deploy" class="row-fluid" style="margin-bottom:5px">
                                <span id="env_info" href="#" class="muted" style="float:left" title="" type="">
                                </span>
                <span id="app_info" href="#" class="muted" style="float:left" title="" type="">
                                </span>
                <a id="zk_deploy_button" href="#" class="btn-small btn-primary" style="float:right;" title=""
                   type="button">
                  <b>ZK部署情况</b>
                </a>
                <a id="batch_download" href="#" class="btn-small btn-primary"
                   style="float:right;margin-right:5px;" title="" type="button">
                  <b>批量下载</b>
                </a>
              </div>

              <div id="zk_deploy_info" class="hide" style="padding-bottom:20px;">
                                <pre id="zk_deploy_info_pre" style="min-height:200px">
                                </pre>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </el-container>

    <el-footer style="height: 60px; padding: 0px; margin: 0px; width: 100%;">
      <div id="footer" style="background-color: rgb(84, 92, 100);">
        <div></div>
        <div>
          <div class="el-row" style="width: 100%; text-align: center;">
            <div class="el-col el-col-24">
              <svg height="28" viewBox="0 0 16 16" version="1.1" width="28" aria-hidden="true" class="svg-github-icon"
                   style="color: white;">
                <path fill-rule="evenodd"
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
              </svg>
            </div>
          </div>
          <div class="el-row" style="width: 100%; text-align: center; color: white;">
            <div class="el-col el-col-24"><span>Disconf分布式配置管理平台 </span> <span>Power by 百度程序化广告交易工程平台技术部 Copyright © 2014~2018  </span>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </el-footer>
  </el-container>
  <el-dialog title="新增配置" :visible.sync="addConfFormVisible">
    <el-form :model="addConfForm">
      <el-form-item label="应用名称" :label-width="formLabelWidth">
        <span>{{addConfForm.appName}}</span>
      </el-form-item>
      <el-form-item label="应用版本" :label-width="formLabelWidth">
        <span>{{addConfForm.appVersion}}</span>
      </el-form-item>
      <el-form-item label="配置类型" :label-width="formLabelWidth">
        <el-select v-model="confType" placeholder="请选择配置类型">
          <el-option
            v-for="item in confTypeOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <template v-if="confType==='1'">
        <el-form-item label="文件上传" :label-width="formLabelWidth">
          <el-upload
            class="upload-demo"
            ref="propertiesUpload"
            :action="addConfForm.fileUploadUrl"
            accept=".properties"
            :data="addConfForm.fileData"
            :on-preview="handlePropertiesPreview"
            :on-remove="handlePropertiesRemove"
            :on-success="handlePropertiesSuccess"
            :on-change="handlePropertiesChange"
            :file-list="addConfForm.fileUploadList.propertiesFiles"
            :auto-upload="false">
            <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
            <div slot="tip" class="el-upload__tip">只能上传properties文件，且不超过10KB</div>
          </el-upload>
        </el-form-item>
      </template>
      <template v-if="confType==='2'">
        <el-form-item label="文件上传" :label-width="formLabelWidth">
          <el-upload
            class="upload-demo"
            ref="yamlUpload"
            accept=".yaml"
            :data="addConfForm.fileData"
            :action="addConfForm.fileUploadUrl"
            :on-preview="handleYamlPreview"
            :on-remove="handleYamlRemove"
            :on-success="handleYamlSuccess"
            :on-change="handleYamlChange"
            :file-list="addConfForm.fileUploadList.yamlFIles"
            :auto-upload="false">
            <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
            <div slot="tip" class="el-upload__tip">只能上传yaml文件，且不超过10KB</div>
          </el-upload>
        </el-form-item>
      </template>
      <template v-if="confType==='3'">
        <el-form-item label="配置项Key" :label-width="formLabelWidth">
          <el-input v-model="addConfForm.itemKey" placeholder="请输入配置项Key"></el-input>
        </el-form-item>
        <el-form-item label="配置项Value" :label-width="formLabelWidth">
          <el-input v-model="addConfForm.itemValue" placeholder="请输入配置项Key"></el-input>
        </el-form-item>
      </template>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addConfFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="confirmAddConf">{{addConfFormConfirmText}}</el-button>
    </div>
  </el-dialog>
  <el-dialog title="更新配置项" :visible.sync="updateConfFormItemVisible">
    <el-form :model="updateConfForm">
      <el-form-item label="配置项Key" :label-width="formLabelWidth">
        <span>{{updateConfForm.itemKey}}</span>
      </el-form-item>
      <el-form-item label="配置项Value" :label-width="formLabelWidth">
        <el-input v-model="updateConfForm.itemValue"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="updateConfFormItemVisible = false">取 消</el-button>
      <el-button type="primary" @click="confirmUpdateConfItem">保 存</el-button>
    </div>
  </el-dialog>
  <el-dialog :visible.sync="addVersionFormDialogVisible" title="创建新版本">
    <el-form :model="addVersionForm" :rules="addVersionRules" ref="addVersionFormRef">
      <el-form-item label="版本号：" prop="versionName" :label-width="formLabelWidth">
        <el-input v-model="addVersionForm.versionName"></el-input>
      </el-form-item>
      <el-form-item label="版本说明：" :label-width="formLabelWidth">
        <el-input v-model="addVersionForm.versionComments" type="textarea" :rows="2"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addVersionFormDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="confirmAddVersionFormDialog('addVersionFormRef')">创建</el-button>
    </div>
  </el-dialog>
  <el-dialog title="添加应用环境信息" :visible.sync="dialogAppEnvDefaultVisible">
    <el-form :model="envDefaultForm" :rules="envDefaultFormRules" ref="envDefaultFormRef">
      <el-form-item label="环境名称" label-width="100px" prop="envName">
        <el-input v-model="envDefaultForm.envName" placeholder="请输入环境名称"></el-input>
      </el-form-item>
      <el-form-item label="环境说明" label-width="100px">
        <el-input v-model="envDefaultForm.envComments" placeholder="请输入环境说明"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAppEnvDefaultVisible=false">取 消</el-button>
      <el-button type="primary" @click="confirmAppEnvDefaultDialog('envDefaultFormRef')">确 定</el-button>
    </div>
  </el-dialog>
</div>

<script>
  if (window.disconf) {
    window.disconf.ready({
      scriptPaths: ['assets/js/mainList.js', 'assets/js/footer.js'],
      completed: function () {
        new Vue({
          el: '#disconfApplication',
          data: function () {
            return {
              addConfFormVisible: false,
              addConfFormConfirmText: '创建',
              formLabelWidth: '100px',
              addConfForm: {
                appName: '',
                appVersion: '',
                itemKey: '',
                itemValue: '',
                fileData: {
                  appId: 0,
                  version: '',
                  envId: 0
                },
                fileUploadUrl: window.disconf.serverAPIUrl + 'api/web/config/file',
                fileUploadList: {
                  propertiesFIles: [],
                  yamlFIles: []
                }
              },
              updateConfFormItemVisible: false,
              updateConfForm: {
                itemKey: '',
                itemValue: '',
                rawValue: null
              },
              confType: '0',
              confTypeOptions: [{
                value: '0',
                label: '请选择配置类型'
              }, {
                value: '1',
                label: 'Properties文件'
              }, {
                value: '2',
                label: 'Yaml文件'
              }, {
                value: '3',
                label: '配置项'
              }],
              activeName:
                '',
              activeCollapseNames:
                [],
              isCollapse:
                false,
              activeIndex:
                '0',
              htmlPath: {
                password: window.disconf.serverUrl + 'modifypassword.html',
                app: window.disconf.originServerUrl + '#/app/add',
                passwordV2: window.disconf.originServerUrl + '#/modify/password',
                appPermission: window.disconf.originServerUrl + '#/auth/permission',
                appUser: window.disconf.originServerUrl + '#/account/user',
                appRole: window.disconf.originServerUrl + '#/auth/role',
                appDepartment: window.disconf.originServerUrl + '#/org/department',
                appConfigItem: window.disconf.serverUrl + 'newconfig_item.html',
                appConfigFile: window.disconf.serverUrl + 'newconfig_file.html',
                appLogin: window.disconf.serverUrl + 'login.html',
                appPageList: window.disconf.serverUrl + 'main.html',
                fileDownload: window.disconf.serverAPIUrl + 'api/web/config/download/'
              },
              visible: false,
              userAppList:
                [],
              userEnvList:
                [],
              currentAppName:
                '',
              currentAppId:
                0,
              currentAppVersionInfo:
                [],
              currentAppEnvId:
                0,
              currentAppEnvName:
                0,
              confContentDialog: {
                confContentVisible: false,
                confContentTitle: '',
                confContent: ''
              },
              addVersionForm: {
                versionName: '',
                versionComments: ''
              },
              addVersionRules: {
                versionName: [{required: true, message: '请输入版本号', trigger: 'blur'},
                  {min: 1, max: 10, message: '长度在 1 到 10 个字符', trigger: 'blur'}]
              },
              addVersionFormDialogVisible: false,
              dialogAppEnvDefaultVisible: false,
              envDefaultForm: {
                envName: '',
                envComments: ''
              },
              envDefaultFormRules: {
                envName: [
                  {required: true, message: '请输入应用环境名称', trigger: 'blur'},
                  {min: 1, max: 10, message: '长度在 1 到 10 个字符', trigger: 'blur'}
                ]
              }
            }
          },
          mounted: function () {
            var vmSelf = this
            window.disconf.ajax({
              type: 'GET',
              url: 'api/app/list',
              success: function (response) {
                if (response.success === 'true') {
                  vmSelf.userAppList = response.page.result
                  /**
                   * 默认选中第一个应用
                   */
                  vmSelf.currentAppName = response.page.result[0].name
                  vmSelf.currentAppId = response.page.result[0].id
                  vmSelf.loadAppAndEnvList(vmSelf.currentAppId)
                }
              }
            })
            // window.disconf.ajax({
            //   type: 'GET',
            //   url: 'api/env/list',
            //   success: function (response) {
            //     if (response.success === 'true') {
            //       vmSelf.userEnvList = response.page.result
            //       vmSelf.$nextTick(() => {
            //         /**
            //          * 默认选中第一个环境
            //          * @type {string}
            //          */
            //         vmSelf.activeName = `env_` + vmSelf.userEnvList[0].id
            //         vmSelf.currentAppEnvId = vmSelf.userEnvList[0].id
            //         vmSelf.currentAppEnvName = vmSelf.userEnvList[0].name
            //         vmSelf.loadAppAndVersionList(vmSelf.currentAppId, vmSelf.currentAppEnvId)
            //       })
            //     }
            //   }
            // })
          },
          methods: {
            handleSelect (key, keyPath) {
              console.log(key, keyPath)
            },
            handleOpen (key, keyPath) {
              console.log(key, keyPath)
            },
            handleClose (key, keyPath) {
              console.log(key, keyPath)
            },
            appMenuItemIndex (menuIndex, appId) {
              return `${menuIndex}-${appId}`
            },
            appEnvItemName (env) {
              return `env_${env.id}`
            },
            handleEnvChange (value) {
              // console.info(value);
              // this.currentAppEnvId = parseInt(value);
              // this.$nextTick(() => {
              //   this.loadAppAndVersionList(this.currentAppId, this.currentAppEnvId);
              // });
            },
            handleAppMenuItemClick (app, index) {
              this.currentAppName = app.name
              this.currentAppId = app.id
              this.loadAppAndEnvList(app.id)
            },
            loadAppAndEnvList (appId) {
              let vmSelf = this
              window.disconf.ajax({
                type: 'GET',
                url: 'api/env/app/list',
                data: {
                  appId: appId
                },
                success: function (response) {
                  if (response.success === 'true') {
                    vmSelf.userEnvList = response.page.result
                    vmSelf.$nextTick(() => {
                      if (vmSelf.userEnvList && vmSelf.userEnvList[0]) {
                        /**
                         * 默认选中第一个环境
                         * @type {string}
                         */
                        vmSelf.activeName = `env_` + vmSelf.userEnvList[0].id
                        vmSelf.currentAppEnvId = vmSelf.userEnvList[0].id
                        vmSelf.currentAppEnvName = vmSelf.userEnvList[0].envName
                        vmSelf.loadAppAndVersionList(vmSelf.currentAppId, vmSelf.currentAppEnvId)
                      }
                    })
                  }
                }
              })
            },
            handleTabClick (tab, event) {
              if (tab.name === 'env_0_plus') {
                this.dialogAppEnvDefaultVisible = true
              } else {
                this.currentAppEnvId = parseInt(tab.name.replace('env_', ''))
                this.currentAppEnvName = tab.label
                this.loadAppAndVersionList(this.currentAppId, this.currentAppEnvId)
              }
            },
            loadAppAndVersionList (appId, envId) {
              var vmSelf = this
              if (appId > 0 && envId > 0) {
                var createVersionConf = function ({version, versionConf}) {
                  return {
                    version,
                    versionConf
                  }
                }
                window.disconf.ajax({
                  type: 'GET',
                  url: 'api/web/config/versionlist',
                  data: {
                    appId,
                    envId
                  },
                  success: function (response) {
                    if (response.success === 'true') {
                      var allVersion = []
                      var allVersionNames = []
                      response.page.result.forEach(function (version, index) {
                        allVersionNames.push(String(index))
                        window.disconf.ajax({
                          type: 'GET',
                          url: 'api/web/config/list',
                          async: false,
                          data: {
                            appId,
                            envId,
                            version: version.versionName
                          },
                          success: function (versionResponse) {
                            for (var index = 0; index < versionResponse.page.result.length; index++) {
                              versionResponse.page.result[index]['confIndex'] = index + 1
                            }
                            allVersion.push(createVersionConf({version, versionConf: versionResponse.page.result}))
                          }
                        }
                        )
                      })
                      vmSelf.activeCollapseNames = allVersionNames
                      vmSelf.currentAppVersionInfo = allVersion
                    }
                  }
                })
              }
            },
            showConfContent (row) {
              this.confContentDialog.confContent = row.value
              this.confContentDialog.confContentVisible = true
              this.confContentDialog.confContentTitle = `${row.type}:${row.key}`

              // confContentDialog: {
              //   confContentVisible: false,
              //     confContentTitle: "",
              //     confContent: ""
              // }
            },
            handleEdit (index, row, version) {
              /**
               * 应用
               * 环境配置
               * 配置版本
               * 配置名称
               * 历史版本
               * 配置文件
               * 配置项
               */

              /**
               * 配置项
               */
              if (row.typeId === 1) {
                this.updateConfForm.itemValue = row.value
                this.updateConfForm.itemKey = row.key
                this.updateConfForm.rawValue = row
                this.updateConfFormItemVisible = true
              }

              /**
               * 配置文件
               */
              if (row.typeId === 0) {
                var editorUrl = `${window.disconf.originServerUrl}#/conf/file/edit?appId=${this.currentAppId}&appName=${encodeURIComponent(this.currentAppName)}&envId=${this.currentAppEnvId}&envName=${encodeURIComponent(this.currentAppEnvName)}&version=${version}&fileKey=${encodeURIComponent(row.key)}&configId=${row.configId}`
                console.info(editorUrl)
                window.location.href = editorUrl
              }
            },
            handleDelete (index, row, version) {
              let tipsMessage = row.typeId === 0 ? '确认删除该配置文件：' : '确认删除该配置项：'
              let vmSelf = this

              const h = this.$createElement

              this.$msgbox({
                title: '删除确认',
                message: h('div', null, [tipsMessage, h('span', {style: {color: 'red'}}, [row.key])]),
                showCancelButton: true,
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                callback: function (action, instance) {
                  if (action === 'confirm') {
                    window.disconf.ajax({
                      type: 'DELETE',
                      url: 'api/web/config/' + row.configId,
                      success: function () {
                        vmSelf.loadAppAndVersionList(vmSelf.currentAppId, vmSelf.currentAppEnvId)
                        vmSelf.$message({
                          type: 'success',
                          message: '已删除!'
                        })
                      }
                    })
                  }
                }
              })
            },
            handleDownload (index, row, version) {

            },
            addConf (appId, envId, version) {
              /**
               * 新增配置
               * 包含配置文件和配置项
               */
              this.addConfForm.appName = this.currentAppName
              this.addConfForm.appVersion = version
              this.addConfForm.fileData.appId = appId
              this.addConfForm.fileData.envId = envId
              this.addConfForm.fileData.version = version
              this.addConfFormVisible = true
            },
            confirmAddConf () {
              var vmSelf = this
              /**
               * 确认新增配置
               * 包含配置文件和配置项
               */
              let currentConfType = this.confType
              if (currentConfType === '1') {
                this.$refs.propertiesUpload.submit()
              }
              if (currentConfType === '2') {
                this.$refs.yamlUpload.submit()
              }
              if (currentConfType === '3') {
                var {appId, version, envId} = this.addConfForm.fileData
                window.disconf.ajax({
                  type: 'POST',
                  url: 'api/web/config/item',
                  data: {
                    appId,
                    version,
                    envId,
                    key: this.addConfForm.itemKey,
                    value: this.addConfForm.itemValue
                  },
                  success: function (response) {
                    if (response && response.success && response.success === 'true') {
                      vmSelf.closeAddConfDialog()
                    }
                  }
                })
              }
            },
            zkDeployData (appId, envId, version) {
              var vmSelf = this
              window.disconf.ajax({
                type: 'GET',
                url: 'api/zoo/zkdeploy',
                async: false,
                data: {
                  appId,
                  envId,
                  version
                },
                success: function (response) {
                  vmSelf.confContentDialog.confContent = response.result.hostInfo
                  vmSelf.confContentDialog.confContentVisible = true
                  vmSelf.confContentDialog.confContentTitle = 'ZK部署情况'
                }
              }
              )
            },
            batchDownLoad () {

            },
            downLoadUrl (appId, envId, version) {
              var serverUrl = window.disconf.serverAPIUrl
              return `${serverUrl}api/web/config/downloadfilebatch?appId=${appId}&envId=${envId}&version=${version}`
            },
            handlePropertiesPreview (file) {
              console.info(file)
            },
            handlePropertiesRemove () {

            },
            handlePropertiesSuccess (response, file, fileList) {
              this.closeAddConfDialog(response, file, fileList)
            },
            handlePropertiesChange (file, fileList) {
              if (file && /\.properties$/gi.test(file.name) && file.size <= 10 * 1024) {

              } else {
                let fileIndex = -1
                fileList.forEach(function (fileObj, index) {
                  if (fileObj.name === file.name) {
                    fileIndex = index
                  }
                })
                if (fileIndex > -1) {
                  fileList.splice(fileIndex)
                }
                this.$message.error('请上传properties文件并且文件小于10KB')
              }
            },
            handleYamlPreview (file) {
              console.info(file)
            },
            handleYamlRemove () {

            },
            handleYamlSuccess (response, file, fileList) {
              this.closeAddConfDialog(response, file, fileList)
            },
            handleYamlChange (file, fileList) {
              if (file && /\.yaml$/gi.test(file.name) && file.size <= 10 * 1024) {

              } else {
                let fileIndex = -1
                fileList.forEach(function (fileObj, index) {
                  if (fileObj.name === file.name) {
                    fileIndex = index
                  }
                })
                if (fileIndex > -1) {
                  fileList.splice(fileIndex)
                }
                this.$message.error('请上传yaml文件并且文件小于10KB')
              }
            },
            closeAddConfDialog (response, file, fileList) {
              this.$message({
                message: '创建成功',
                type: 'success'
              })

              this.$nextTick(() => {
                this.loadAppAndVersionList(this.currentAppId, this.currentAppEnvId)
              })
              setTimeout(() => {
                this.addConfFormVisible = false
              }, 200)
            },
            confirmUpdateConfItem () {
              var vmSelf = this
              /**
               * 创建配置项
               * /api/web/config/item
               * formData
               * appId: 32
               * version: 1_0_0_0
               * key: hint.weight
               * envId: 3
               * value: 100
               *
               * 更新配置项
               * /api/web/config/item/459
               *  value: 1000
               *
               *
               *
               *
               *
               *
               */
              window.disconf.ajax({
                type: 'PUT',
                url: `api/web/config/item/` + this.updateConfForm.rawValue.configId,
                data: {
                  value: this.updateConfForm.itemValue
                },
                success: function (response) {
                  if (response && response.success && response.success === 'true') {
                    vmSelf.$message({
                      type: 'success',
                      message: '已更新'
                    })
                    window.disconf.sleep(500).then(function () {
                      window.location.href = window.disconf.serverUrl + 'main.html'
                    })
                  }
                }
              })
            },
            createVersionForEnv (env) {
              /**
               * 创建新版本
               */
              this.addVersionFormDialogVisible = true
            },
            confirmAddVersionFormDialog (formName) {
              let vmSelf = this
              this.$refs[formName].validate((valid) => {
                if (valid) {
                  let versionData = {
                    appId: this.currentAppId,
                    appEnvId: this.currentAppEnvId,
                    versionName: this.addVersionForm.versionName,
                    versionComments: this.addVersionForm.versionComments
                  }
                  window.disconf.ajax({
                    type: 'POST',
                    url: 'api/version/app/env/create',
                    data: JSON.stringify(versionData),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (response) {
                      vmSelf.addVersionFormDialogVisible = false
                      if (response.message && response.message.status && response.message.status.code !== 0) {
                        vmSelf.$message({
                          type: 'error',
                          message: response.message.status.message
                        })
                      } else {
                        vmSelf.loadAppAndVersionList(vmSelf.currentAppId, vmSelf.currentAppEnvId)
                      }
                    }
                  })
                }
              })
            },
            confirmAppEnvDefaultDialog (formName) {
              let vmSelf = this
              this.$refs[formName].validate((valid) => {
                if (valid) {
                  let envInfo = {
                    appId: this.currentAppId,
                    envName: this.envDefaultForm.envName,
                    envComments: this.envDefaultForm.envComments,
                    isEnvDefault: false
                  }
                  window.disconf.ajax({
                    type: 'POST',
                    url: 'api/env/app/create',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    data: JSON.stringify(envInfo),
                    success: function (response) {
                      this.envDefaultForm.envName = ''
                      this.envDefaultForm.envComments = ''
                      vmSelf.dialogAppEnvDefaultVisible = false
                      if (response.message && response.message.status && response.message.status.code !== 0) {
                        vmSelf.$message({
                          type: 'error',
                          message: response.message.status.message
                        })
                      }
                      vmSelf.loadAppAndEnvList(vmSelf.currentAppId)
                    }
                  })
                }
              })
            }
          },
          watch: {
            currentAppId: function () {
              this.loadAppAndVersionList(this.currentAppId, this.currentAppEnvId)
            },
            currentAppEnvId: function () {
              this.loadAppAndVersionList(this.currentAppId, this.currentAppEnvId)
            }
          },
          filters: {
            versionFormat (value) {
              return `版本:${value}`
            },
            downloadFormat (value) {
              return window.disconf.serverAPIUrl + 'api/web/config/download/' + value
            }
          },
          computed: {
            confContentTitleComputed: function () {

            }
          }
        })
      }
    })
  }
</script>
</body>
</html>

