<!DOCTYPE html>
<html class="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Disconf - 分布式配置管理平台</title>
  <script src="plugins/loaders/index.js"></script>
  <style>
    .left-side-bar {
      margin-top: 10px;
    }

    .left-side-bar ul {

    }

    .left-side-bar ul > li > a {
      list-style-type: none;
      color: #606266;
      /* text-align: center; */
      padding-left: 40px;
      line-height: 28px;
      cursor: pointer;
    }

    .left-side-bar ul > li > a:hover {
      color: #409eff;
    }

    .main-container {
      border: 1px #DCDFE6 solid;
      padding-left: 10px;
      padding-top: 10px;
    }

    .row-data-link {
      color: #409eff;
    }


  </style>
</head>

<body>
<div id="disconfApplication">
  <el-container>
    <el-header>
      <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b"
      >
        <el-submenu index="1">
          <template slot="title">应用中心</template>
          <el-menu-item index="1-1">我的应用</el-menu-item>
          <el-menu-item index="1-2">
            <a :href="htmlPath.app">创建应用</a>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="2">
          <template slot="title">账户中心</template>
          <el-menu-item index="2-1">开通账户</el-menu-item>
          <el-submenu index="2-2">
            <template slot="title">权限设置</template>
            <el-menu-item index="2-2-1">角色管理</el-menu-item>
            <el-menu-item index="2-2-2">权限管理</el-menu-item>
          </el-submenu>
        </el-submenu>
        <el-submenu index="3">
          <template slot="title">基础设置</template>
          <el-menu-item index="3-1">基础环境</el-menu-item>
        </el-submenu>
        <el-submenu index="4">
          <template slot="title">个人中心</template>
          <el-menu-item index="4-1"><a :href="htmlPath.password">修改密码</a></el-menu-item>
          <el-menu-item index="4-2"><a href="#" id="signout">退出</a></el-menu-item>
        </el-submenu>
      </el-menu>
    </el-header>
    <el-container>
      <el-aside width="200px">

        <el-row>
          <el-col :span="24">
            <div class="left-side-bar">
              <el-scrollbar class="page-component__scroll">
              <span
                style="color: rgb(48, 49, 51);font-size: 16px;padding-left: 20px;line-height: 32px;font-weight: bold;">我的应用</span>
                <div class="side-nav">
                  <ul>
                    <template v-for="app in userAppList">
                      <li :index="appMenuItemIndex(1,app.id)" @click="handleAppMenuItemClick(app)">
                        <a>{{app.name}}</a>
                      </li>
                    </template>
                  </ul>
                </div>
              </el-scrollbar>
            </div>
          </el-col>
        </el-row>
        <!--<div class="dropdown" style="margin-top:20px;width:100%">-->
        <!--<button class="btn btn-default dropdown-toggle" type="button" id="appDropdownMenu" data-toggle="dropdown"-->
        <!--style="width:100%;">-->
        <!--<span id="appDropdownMenuTitle">Apps</span>-->
        <!--<span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" id="applist" role="menu" aria-labelledby="appDropdownMenu"></ul>-->
        <!--</div>-->

        <!--envroment list-->
        <!--<ul id="envChoice" class="nav nav-pills nav-stacked" style="margin-top:20px;">-->
        <!--</ul>-->
      </el-aside>
      <el-main>
        <div class="main-container">
          <el-row>
            <el-col :span="16">
              <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>应用中心</el-breadcrumb-item>
                <el-breadcrumb-item>我的应用</el-breadcrumb-item>
                <el-breadcrumb-item>{{currentAppName}}</el-breadcrumb-item>
              </el-breadcrumb>
            </el-col>
            <el-col :span="8">

            </el-col>
          </el-row>
          <el-row style="    margin-left: -11px;    margin-top: 10px;">
            <el-col :span="24">
              <el-tabs v-model="activeName" @tab-click="handleTabClick" type="card">
                <template v-for="env in userEnvList">
                  <el-tab-pane :label="env.name" :name="appEnvItemName(env)">
                    <el-collapse v-model="activeCollapseNames" @change="handleEnvChange">
                      <template
                        v-for="(version,index) in currentAppVersionInfo">
                        <el-collapse-item :name="index">
                          <template slot="title">
                            <el-row>
                              <el-col :span="16"> {{version.version | versionFormat}}</el-col>
                              <el-col :span="7" style="text-align: right;padding-right: 10px;box-sizing: border-box;"><a
                                class="el-button el-button--primary el-button--small"
                                :href="downLoadUrl(currentAppId,env.id,version.version)">批量下载</a>
                                <el-button type="primary" @click="zkDeployData(currentAppId,env.id,version.version)"
                                           size="small">ZK部署情况
                                </el-button>
                              </el-col>
                            </el-row>
                          </template>
                          <el-table
                            :data="version.versionConf"
                            border
                            style="width: 100%">
                            <el-table-column
                              prop="confIndex"
                              label="序号"
                              width="60">
                            </el-table-column>
                            <el-table-column
                              prop="appId"
                              label="AppID"
                              width="80">
                            </el-table-column>
                            <el-table-column
                              prop="key"
                              label="Key">
                            </el-table-column>
                            <el-table-column
                              label="配置内容">
                              <template slot-scope="scope">
                                <a href="#" class="row-data-link" @click="showConfContent(scope.row)">配置内容</a>
                              </template>
                            </el-table-column>
                            <el-table-column
                              label="实例列表">
                              <template slot-scope="scope">
                                <a href="#" class="row-data-link">{{scope.row.machineSize}}台 OK</a>
                              </template>
                            </el-table-column>
                            <el-table-column
                              prop="modifyTime"
                              label="修改时间">
                            </el-table-column>
                            <el-table-column
                              label="操作"
                              width="220"
                            >
                              <template slot-scope="scope">
                                <el-button
                                  size="mini"
                                  icon="el-icon-edit"
                                  type="primary"
                                  @click="handleEdit(scope.$index, scope.row,version.version)">
                                </el-button>
                                <el-button
                                  size="mini"
                                  icon="el-icon-delete"
                                  type="danger"
                                  @click="handleDelete(scope.$index, scope.row,version.version)">
                                </el-button>
                                <el-button
                                  size="mini"
                                  type="success"
                                  icon="el-icon-download"
                                  @click="handleDownload(scope.$index, scope.row,version.version)">
                                </el-button>
                              </template>
                            </el-table-column>
                          </el-table>
                        </el-collapse-item>
                      </template>
                    </el-collapse>
                  </el-tab-pane>
                </template>
              </el-tabs>
              <el-dialog :title="confContentDialog.confContentTitle"
                         :visible.sync="confContentDialog.confContentVisible">
                <span>
                   {{confContentDialog.confContent}}
                </span>
                <div slot="footer" class="dialog-footer">
                  <el-button @click="confContentDialog.confContentVisible = false">取 消</el-button>
                  <el-button type="primary" @click="confContentDialog.confContentVisible = false">确 定</el-button>
                </div>
              </el-dialog>
              <div class="row-fluid">
                <div class="contentWrap clearfix">
                  <ul id="versionChoice" class="nav nav-tabs" role="tablist"></ul>
                </div>
              </div>

              <div id="zk_deploy" class="row-fluid" style="margin-bottom:5px">
                                <span id="env_info" href="#" class="muted" style="float:left" title="" type="">
                                </span>
                <span id="app_info" href="#" class="muted" style="float:left" title="" type="">
                                </span>
                <a id="zk_deploy_button" href="#" class="btn-small btn-primary" style="float:right;" title=""
                   type="button">
                  <b>ZK部署情况</b>
                </a>
                <a id="batch_download" href="#" class="btn-small btn-primary"
                   style="float:right;margin-right:5px;" title="" type="button">
                  <b>批量下载</b>
                </a>
              </div>

              <div id="zk_deploy_info" class="hide" style="padding-bottom:20px;">
                                <pre id="zk_deploy_info_pre" style="min-height:200px">
                                </pre>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </el-container>

    <el-footer>
      <div id="footer">
        <div id="BottomMain">
          <div class="inner">
            <strong>
              <a href="#" class="dark">关于</a> &nbsp;
            </strong>
            <strong>
              <a href="#" class="dark">升级</a> &nbsp;
            </strong>
            <div class="sep10"></div>
            <span>分布式配置管理平台</span>
            <div class="sep10"></div>
            <span class="myfade">Theme by <a href="http://sov5.com/" target="_blank">Sov5搜索</a>，
                        Power by 百度程序化广告交易工程平台技术部，
                    Copyright &copy; 2014~2016 </span>
          </div>
        </div>
      </div>
    </el-footer>
  </el-container>

  <!--<div class="navbar navbar-fixed-top clearfix">-->
  <!--<div class="navbar-inner zu-top">-->
  <!--<div class="container">-->
  <!--<button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
  <!--</button>-->
  <!--<div class="nav-collapse collapse">-->

  <!--<a id="brand_url" href="/main.html" class="brand" style="margin-left:0px;padding:8px;"> <span-->
  <!--class="zu-top-nav-link">Disconf</span> </a>-->

  <!--<span class="span2"> </span>-->
  <!--<form class="navbar-form pull-left">-->
  <!--<button class="btn btn-warning" title="GitHub" type="button" style=""-->
  <!--onclick="window.open('https://github.com/knightliao/disconf', '_blank');">-->
  <!--<i class="icon-circle-arrow-up  icon-white"></i> <b>GitHub</b>-->
  <!--</button>-->
  <!--</form>-->

  <!--<ul class="nav pull-right">-->

  <!--<div class="login-yes" style="display:none;padding:10px;">-->
  <!--<li style="display:inline;">-->
  <!--<a href="#">-->
  <!--<span class="zu-top-nav-link loginName" id="username"></span>-->
  <!--</a>-->
  <!--</li>-->
  <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
  <!--<li style="display:inline;" class="dropdown">-->
  <!--<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">-->
  <!--<span class="zu-top-nav-link">新建<b class="caret"></b></span>-->
  <!--</a>-->
  <!--<ul class="dropdown-menu">-->
  <!--<li><a :href="htmlPath.app">新建APP</a></li>-->
  <!--<li><a :href="htmlPath.appConfigItem">新建配置项</a></li>-->
  <!--<li><a :href="htmlPath.appConfigFile">新建配置文件</a></li>-->
  <!--</ul>-->
  <!--</li>-->
  <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
  <!--<li style="display:inline;">-->
  <!--<a :href="htmlPath.password">-->
  <!--<span class="zu-top-nav-link">修改密码</span>-->
  <!--</a>-->
  <!--</li>-->
  <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
  <!--<li style="display:inline;">-->
  <!--&lt;!&ndash;<a href="#" id="signout">&ndash;&gt;-->
  <!--&lt;!&ndash;<span class="zu-top-nav-link">退出</span>&ndash;&gt;-->
  <!--&lt;!&ndash;</a>&ndash;&gt;-->
  <!--</li>-->
  <!--</div>-->

  <!--<div class="login-no" style="padding:10px;">-->
  <!--<li style="display:inline;">-->
  <!--<a :href="htmlPath.appLogin"><span class="zu-top-nav-link">登录</span></a>-->
  <!--</li>-->
  <!--</div>-->

  <!--</ul>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</div>-->


  <div id="Wrapper" class="clearfix">
    <div id="Main" style="margin-top:50px;">
      <div class="container-fluid">
        <div class="row-fluid" style="min-height:400px;">
          <div class="sidebar span2" style="float:left;overflow:visible;">


          </div>
          <div class="span10" style="float:left">

          </div>

          <!-- 详细信息单行模板-->
          <div id="tbodyTpl" class="hide" style="width:0px;">
            <table>
              <tr>
                <td>{12}</td>
                <td style="max-width:100px">{1}</td>
                <td style="max-width:100px">{6} &nbsp; {5}</td>
                <td>{14}</td>
                <td>{15}</td>
                <td>{8}</td>
                <td>{10} &nbsp; {11} &nbsp; {13} &nbsp;</td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>


<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?c4578bda90040ec19ded56112b82246f";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script>
  if (window.disconf) {
    window.disconf.ready({
      scriptPaths: ["assets/js/mainList.js", "assets/js/footer.js"],
      completed: function () {
        new Vue({
          el: '#disconfApplication',
          data: function () {
            return {
              activeName: "",
              activeCollapseNames: [],
              isCollapse: false,
              activeIndex: '0',
              htmlPath: {
                password: window.disconf.serverUrl + "modifypassword.html",
                app: window.disconf.serverUrl + "newapp.html",
                appConfigItem: window.disconf.serverUrl + "newconfig_item.html",
                appConfigFile: window.disconf.serverUrl + "newconfig_file.html",
                appLogin: window.disconf.serverUrl + "login.html"
              },
              visible: false,
              userAppList: [],
              userEnvList: [],
              currentAppName: "",
              currentAppId: 0,
              currentAppVersionInfo: [],
              currentAppEnvId: 0,
              currentAppEnvName: 0,
              confContentDialog: {
                confContentVisible: false,
                confContentTitle: "",
                confContent: ""
              }
            }
          },
          mounted: function () {
            var vmSelf = this;
            window.disconf.ajax({
              type: "GET",
              url: "api/app/list",
              success: function (response) {
                if (response.success === 'true') {
                  vmSelf.userAppList = response.page.result;
                  /**
                   * 默认选中第一个应用
                   */
                  vmSelf.currentAppName = response.page.result[0].name;
                  vmSelf.currentAppId = response.page.result[0].id;
                  vmSelf.loadAppAndVersionList(vmSelf.currentAppId, vmSelf.currentAppEnvId);
                }
              }
            });
            window.disconf.ajax({
              type: "GET",
              url: "api/env/list",
              success: function (response) {
                if (response.success === 'true') {
                  vmSelf.userEnvList = response.page.result;
                  vmSelf.$nextTick(() => {
                    /**
                     * 默认选中第一个环境
                     * @type {string}
                     */
                    vmSelf.activeName = `env_` + vmSelf.userEnvList[0].id;
                    vmSelf.currentAppEnvId = vmSelf.userEnvList[0].id;
                    vmSelf.currentAppEnvName = vmSelf.userEnvList[0].name;
                    console.info("vmSelf.currentAppEnvId"+vmSelf.currentAppEnvId);
                    vmSelf.loadAppAndVersionList(vmSelf.currentAppId, vmSelf.currentAppEnvId);
                  });
                }
              }
            });
          },
          methods: {
            handleSelect(key, keyPath) {
              console.log(key, keyPath);
            },
            handleOpen(key, keyPath) {
              console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
              console.log(key, keyPath);
            },
            appMenuItemIndex(menuIndex, appId) {
              return `${menuIndex}-${appId}`;
            },
            appEnvItemName(env) {
              return `env_${env.id}`;
            },
            handleEnvChange(value) {
              // console.info(value);
              // this.currentAppEnvId = parseInt(value);
              // this.$nextTick(() => {
              //   this.loadAppAndVersionList(this.currentAppId, this.currentAppEnvId);
              // });
            },
            handleAppMenuItemClick(app) {
              this.currentAppName = app.name;
              this.currentAppId = app.id;
              this.currentAppEnvId = this.userEnvList[0].id;
              this.currentAppEnvName = this.userEnvList[0].name;
              console.info("this.currentAppId:" + this.currentAppId + ",this.currentAppEnvId:" + this.currentAppEnvId);
              this.$nextTick(() => {
                this.loadAppAndVersionList(this.currentAppId, this.currentAppEnvId);
              });
            },
            handleTabClick(tab, event) {
              this.currentAppEnvId = parseInt(tab.name.replace('env_', ''));
              this.currentAppEnvName = tab.label;
              this.loadAppAndVersionList(this.currentAppId, this.currentAppEnvId);
            },
            loadAppAndVersionList(appId, envId) {
              var vmSelf = this;
              if (appId > 0 && envId > 0) {
                var createVersionConf = function ({version, versionConf}) {
                  return {
                    version,
                    versionConf
                  };
                };
                window.disconf.ajax({
                  type: "GET",
                  url: "api/web/config/versionlist",
                  data: {
                    appId,
                    envId
                  },
                  success: function (response) {
                    if (response.success === 'true') {
                      var allVersion = [];
                      var allVersionNames = [];
                      response.page.result.forEach(function (version, index) {
                        allVersionNames.push(String(index));
                        window.disconf.ajax({
                            type: "GET",
                            url: "api/web/config/list",
                            async: false,
                            data: {
                              appId,
                              envId,
                              version
                            },
                            success: function (versionResponse) {
                              for (var index = 0; index < versionResponse.page.result.length; index++) {
                                versionResponse.page.result[index]['confIndex'] = index + 1;
                              }
                              allVersion.push(createVersionConf({version, versionConf: versionResponse.page.result}));
                            }
                          }
                        );
                      });
                      vmSelf.activeCollapseNames = allVersionNames;
                      vmSelf.currentAppVersionInfo = allVersion;
                    }
                  }
                });
              }
            },
            showConfContent(row) {
              this.confContentDialog.confContent = row.value;
              this.confContentDialog.confContentVisible = true;
              this.confContentDialog.confContentTitle = `${row.type}:${row.key}`;

              // confContentDialog: {
              //   confContentVisible: false,
              //     confContentTitle: "",
              //     confContent: ""
              // }
            },
            handleEdit(index, row, version) {
              /**
               * 应用
               * 环境配置
               * 配置版本
               * 配置名称
               * 历史版本
               * 配置文件
               * 配置项
               */
              var editorUrl = `${window.disconf.serverUrl}#/conf/file/edit?appId=${this.currentAppId}&appName=${encodeURIComponent(this.currentAppName)}&envId=${this.currentAppEnvId}&envName=${encodeURIComponent(this.currentAppEnvName)}&version=${version}`;
              console.info(editorUrl);

            },
            handleDelete(index, row, version) {

            },
            handleDownload(index, row, version) {

            },
            zkDeployData(appId, envId, version) {
              var vmSelf = this;
              window.disconf.ajax({
                  type: "GET",
                  url: "api/zoo/zkdeploy",
                  async: false,
                  data: {
                    appId,
                    envId,
                    version
                  },
                  success: function (response) {
                    vmSelf.confContentDialog.confContent = response.result.hostInfo;
                    vmSelf.confContentDialog.confContentVisible = true;
                    vmSelf.confContentDialog.confContentTitle = "ZK部署情况";
                  }
                }
              );
            },
            batchDownLoad() {

            },
            downLoadUrl(appId, envId, version) {
              var serverUrl = window.disconf.serverUrl;
              return `${serverUrl}api/web/config/downloadfilebatch?appId=${appId}&envId=${envId}&version=${version}`;
            }
          },
          watch: {
            currentAppId: function () {
              this.loadAppAndVersionList(this.currentAppId, this.currentAppEnvId);
            },
            currentAppEnvId: function () {
              this.loadAppAndVersionList(this.currentAppId, this.currentAppEnvId);
            }
          },
          filters: {
            versionFormat(value) {
              return `版本:${value}`;
            }
          },
          computed: {
            confContentTitleComputed: function () {

            }
          }
        });
      }
    });
  }
</script>
</body>
</html>

